body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    height: 60px;
    padding-top: 15px;
    width: 100%;

    background-color: #344051;

}


.menu {
    margin-left: 700px;
    margin-top: 5px;
    font-size: medium;

}

ul>li {
    color: #ffffff;
    font-style: Arial normal;
    display: inline;
    padding: 10px;
    line-height: 20px;
}

.logo {
    float: left;
    padding-right: 30px;
    color: #ffffff;
    font-size: 30px;
    padding-left: 10%;
    height: 60px;
    margin-top: 10px;
}

.main {
    width: 100%;
    height: calc(100%-60px);
    min-height: 1020px;
    font-size: 30px;
    background: url(../img/Парень.png) 90% 100%/auto 85% no-repeat, url(../img/фон.jpg) center/cover no-repeat;
    background-attachment: fixed;
}

.title_container {
    text-align: center;
    padding-top: 200px;
    padding-right: 1000px;
}

h1 {
    padding-top: 400px;
    padding-left: 600px;
    color: #2c384a;
    font-size: 40px;
    font-family: Bahnschrift;
}

h4 {
    padding-top: 25px;
    padding-left: 70px;
    color: #8a919c;
    font-style: Franklin Gothic Medium, san-serif;
    font-size: 20px;

}

.about_me {
    font-style: italic;
    font-size: 30px;
    margin-top: 30px;
    background-color: #ebebef;
    border-style: solid;
    border-color: #79818d;
    border-radius: 10px;
    border-width: 4px;

}

.my_works {
    text-align: left;
    width: fit-content;
    font-style: italic;
    font-size: 30px;
    background-color: #ebebef;
    border-style: solid;
    border-color: #79818d;
    border-radius: 10px;
    border-width: 4px;

}





.main_info {
    min-height: 720px;
    width: 100%;
    background-color: #fcfdfd;
    position: relative;
    top: 0;
    left: 0;
    overflow: auto;

}

.line {

    width: 50px;
    height: 6px;
    position: relative;
    top: 1%;
    left: 47%;
    margin: 50px 0% 0% 0%;

}


.main_info>p {
    width: 100px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    margin-top: 20px;
    font-size: 20px;

}

img.boy {
    display: block;
    margin: 0px auto;
    padding-top: 100px;
    margin-top: -50px;
    width: 200px;
    height: 300px;
}

.some_text {
    font-family: Calibri sans-serif;
    font-size: 20px;
    color: #3f495a;

    text-align: center;

}



.download_resume {
    display: block;
    text-align: center;
    position: relative;
    font-style: italic;
    font-size: 30px;
    background-color: #ebebef;
    border-style: solid;
    border-color: #79818d;
    position: relative;
    border-radius: 10px;
    border-width: 4px;
    margin: 0px auto;
    margin-top: 60px;
    overflow: auto;
    border-radius: 100px;

}






.wrapper {
    background-image: url(../img/картинка\ фона.png);
    background-attachment: fixed;
    margin: 0px auto;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    overflow: auto;
}

.profile {
    font-style: italic;
    font-size: 30px;
    margin-top: 30px;
    background-color: #ebebef;
    border-style: solid;
    margin-left: 45%;
    margin-right: 45%;
    text-align: center;
    background-color: #ebebef;
    border-color: #79818d;
    border-radius: 10px;


}

.some_text {
    text-align: justify;
    text-align: center;
    margin: 200px 400px 400px 200px;
}

.entry {
    padding: 50px;
    display: block;
    width: 25%;
    float: left;
    font-style: italic;
    height: 198px;
    background-repeat: no-repeat;
    background-position: bottom;
}

.entry br {
    font-size: 60px;
}

.entry>img {
    display: block;
    margin: 0px auto;
}

.entry>br {
    padding-top: 400px;
    padding-left: 600px;
    color: #2c384a;
    font-size: 40px;
    font-family: Bahnschrift;
}

.cases {
    width: 100%;
    height: 1820px;
    position: relative;
    background-color: #fafbfb;
}

.cases_text {
    font-style: Calibri #3f495a;
    font-size: 40px;
    display: block;
    text-align: center;
    margin: 0% auto;
    margin-top: 50px;
    margin-bottom: 50px;

}

.client_web_site img {
    display: block;
    margin: 0% auto;
    position: relative;
}

.project_info {
    display: block;
    position: relative;
    font-size: 40px;
    float: left;
    width: 100%;
    margin: 0% auto;
    padding-left: 450px;


}

.project_info button {
    background-color: #344051;
    border: 3px #2c384a solid;
    font-size: 20px;
    padding: 20px 20px;
    float: left;
    margin-top: 100px;
    width: 200px;
    border-radius: 20%;

}

.client_comp {
    float: left;
    padding: 0px auto;
    width: 10%;
}

.web {
    float: left;
    width: 10%;
    margin-left: 10px;
}

.web_text {
    font-size: 40px;
    float: left;
    width: 80%;
}


.project_pricing {
    position: relative;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px;
    display: block;
    width: 95%;
    height: 35%;
    margin: 0px auto;
    text-align: center;
    font-weight: bold;
}

.project_pricing form {
    text-align: center;
    background-color: aqua;
    position: relative;
    margin: 50px auto;
    margin-top: 150px;
    padding: 50px auto;
    width: 80%;
    height: 500px;
}

.project_pricing select {
    background-color: #eeeeee;
    text-align: left;
    width: 80%;
    height: 8%;
    line-height: 100px;
    font-weight: bold;
    font-size: 30px;
    border-top: #2c384a solid 2px;
}

.some_statistics {
    background: url(../img/Фон2.png) center/cover no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 40px;
    margin-top: 100px;
    display: block;
    position: relative;
    width: 100%;
    height: 600px;
    text-align: center;
    font-size: 40px bold;
    float: left;

}

.some_statistics p {
    color: antiquewhite;
    margin-bottom: 60px;
    font-size: 50px;
    margin-top: 30px;
    padding: 0px auto;
    font-weight: bold;
}

.some_statistics img {
    width: 7%;
    padding: 0px 30px;
    margin: 10px 80px;
    margin-top: 30px;
}

.some_statistics span {
    font-size: 30px;
    color: #ebebef;
    text-align: center;
    width: 25%;
}

.feedbacks {
    width: 100%;
    height: 600px;
    display: block;
    position: relative;
}